* {
    margin: 0;
}

body {
    min-width: 350px;
    background-color: #2E2E2E;
}

.page-content {
    max-width: 100%;
}

.page-content .heading-1 {
    color: white;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
    transition: color 1s;
}

.page-content .heading-2 {
    color: white;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
    transition: color 1s;
}

.page-content .paragraph {
    color: white;
    font-size: 14px;
    font-family: Arial;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
    transition: color 1s;
}

.page-content .under-image-text {
    color: white;
    font-size: 10px;
    font-family: Arial;
    font-style: italic;
    transition: color 1s;
}

.page-content .button {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #FFE27B;
    width: 231px;
    height: 33px;
    box-shadow: 0px 3px 10px -2px black;
    transition: background-color 0.5s;
    /* padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 53px;
    padding-right: 53px; */
}

.page-content .button-link {
    text-decoration: none;
}

.page-content .button:hover {
    cursor: pointer;
    background-color: #AD8700;
}

.page-content .button-text {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.content-box-regular {
    height: 100%;
    width: 300px;
}

/**
* Navbar styles start
*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2E2E;
    top: 0;
    position: sticky;
    z-index: 100;
}

.logo-navbar {
    display: inline-block;
    background-color: #F6BF00;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo-navbar-image {
    text-align: center;
}

.mobile-menu {
    margin-right: 15px;
}

.mobile-menu-line {
    width: 35px;
    border: 3.5px solid white;
    margin-bottom: 7px;
}

.link-text-navbar{
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    text-decoration: none;
    transition: font-size 0.5s;
}

.current-page-navbar-link {
    color: #F6BF00;
    font-size: 20px;
}

.link-text-navbar:not(.current-page-navbar-link):hover {
    color: #D9D9D9;
    text-decoration: underline;
}

.mobile-menu-line:last-child {
    margin-bottom: 0;
}

.links-navbar {
    height: 400px; /*Specify a height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #2E2E2E;
    overflow-x: hidden; /* Disable horizontal scroll */

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
}

/*  */
.links-navbar {
    display: none;
}
/*  */

.close-menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 38px;
    display: none;
}

.theme-navbar {
    background-color: #D9D9D9;
    width: 150px;
    height: 30px;
    transition: box-shadow 0.5s;
}

.theme-navbar:hover {
    cursor: pointer;
    box-shadow: 0px 12px 10px -2px rgba(0, 0, 0, 50%);
}

.theme-slider {
    margin-left: auto; 
    margin-right: 0;
    background-color: #575757;
    height: 100%;
    width: 104.5px;
    display: flex;
    align-items: center;
}

.slider-text {
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin: auto;
}
/**
* Navbar styles end
*/

/**
* Footer styles start
*/
.footer {
    display: block;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #2E2E2E;
}

.info-footer {
    margin-top: 35px;
}

.info-footer-title {
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    color: #F6BF00;
    font-size: 12px;
}

.info-footer-content {
    font-family: Arial;
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

.footer > div {
    text-align: center;
}
/**
* Footer styles end
*/

@media only screen and (min-width: 800px) {
    /**
    * Footer styles start
    */
    .footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: start;
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .info-footer {
        margin-top: 0;
        margin-left: 120px;
    }

    .footer > div {
        text-align: initial;
    }
    /**
    * Footer styles end
    */
}

@media only screen and (min-width: 880px) {
    /**
    * Navbar styles start
    */
    .mobile-menu {
        display: none;
    }

    .links-navbar {
        width: auto;
        height: auto;
        position: static; /* Stay in place */
        z-index: auto; /* Stay on top */
        top: auto;
        right: auto;
        background-color: none;
        overflow-x: auto; /* Disable horizontal scroll */
    
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar {
        justify-content: flex-start;
        gap: 20px;
    }

    .theme-navbar {
        position: absolute;
        right: 20px;
    }
    /**
    * Navbar styles end
    */
}

@media only screen and (min-width: 1050px) {
    /**
    * Footer styles start
    */
    .logo-footer {
        width: 170px;
    }

    .info-footer-title {
        font-size: 15px;
    }

    .info-footer-content {
        font-size: 15px;
    }
    /**
    * Footer styles end
    */
}

@media only screen and (min-width: 1150px) {
    .content-box-regular {
        width: 1080px;
    }

    .page-content .heading-1 {
        font-size: 48px;
    }
    
    .page-content .heading-2 {
        font-size: 30px;
    }
    
    .page-content .paragraph {
        font-size: 24px;
    }
    
    .page-content .under-image-text {
        font-size: 16px;
    }

    .page-content .button {
        width: 350px;
        height: 50px;
    }

    .page-content .button-text {
        font-size: 24px;
    }

    .links-navbar a {
        margin-left: 42px;
    }
}

@media only screen and (min-width: 1250px) {
    /**
    * Footer styles start
    */
    .logo-footer {
        width: 205px;
    }

    .info-footer-title {
        font-size: 20px;
    }

    .info-footer-content {
        font-size: 20px;
    }
    /**
    * Footer styles end
    */
}

@media only screen and (min-width: 1550px) {
    /**
    * Navbar styles start
    */
    .logo-navbar-image {
        width:208px;
        margin-left: 38px;
        margin-right: 38px;
    }

    .links-navbar a {
        margin-left: 72px;
    }

    .link-text-navbar{
        font-size: 24px;
    }

    .link-text-navbar:not(.current-page-navbar-link):hover {
        font-size: 30px;
    }

    .current-page-navbar-link {
        font-size: 35px;
    }

    .theme-navbar {
        width: 215px;
        height: 43px;
        right: 70px;
    }
    
    .theme-slider {
        width: 150px;
    }
    
    .slider-text {
        font-size: 24px;
    }
    /**
    * Navbar styles end
    */
}

/* Light mode start */
.navbar .mobile-menu-visibility {
    display: flex;
}

.navbar .mobile-menu-close-visibility {
    display: block;
}

.links-navbar .light-mode-theme-switch-background {
    background-color: #575757;
}

.links-navbar .light-mode-theme-switch-slider {
    background-color: #D9D9D9;
    margin-left: 0; 
    margin-right: auto;
}

.links-navbar .light-mode-theme-switch-slider-text{
    color: #000000;
}

.page-content .light-mode-text {
    color: black;
}

.page-content .light-mode-darker-bg {
    background-color: #F5F5F5;
}

.page-content .light-mode-lighter-bg {
    background-color: #FFFFFF;
}

.page-content .light-mode-image-container {
    background-color: #D9D9D9;
}

.page-content .light-mode-paragraph-navigation {
    color: #5A5A5A;
}

.page-content .light-mode-paragraph-navigation.active {
    color: #000000;
}

.page-content .light-mode-paragraph-navigation.active:hover,
.page-content .light-mode-paragraph-navigation:hover{
    color: #AD8700;
}

.page-content .light-mode-station-link{
    color: #AD8700;
}
.page-content .light-mode-station-link:hover{
    color: #DFAD00;
}

.page-content .light-mode-tracks {
    background-color: #535353;
}
/* Light mode end */