.landing-page-container {
    display: flex;
    justify-content: center;
    background-image: url("Images/LandingPage/Landing-page-image.png");
    background-color: #373737;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 65%;
    background-size: 290% auto; 
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 100vh;
    width: 300px;
    /* background-attachment: fixed; */
    /* background-position: center; */
}

.page-content .heading-1 {
    text-align: center;
}

.page-content .paragraph {
    text-align: center;
}

@media only screen and (min-width: 750px) {
    .landing-page-container {
        background-position-x: 20%;
        background-position-y: 65%;
        background-size: 130% auto;
    }
}

@media only screen and (min-width: 1200px) {
    .content-box {
        width: 688px;
    }
}